<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- <link rel="stylesheet" href="static/css/style.css"> -->
    <!-- <link rel="stylesheet" href="static/.hello.css"> -->

    <!-- js -->
    <!-- <script src="js/script.js"></script> -->
    <script src="static/js/script.js"></script>

    <title>Home</title>
</head>
<body>

    <h1>Home Page</h1>
    <h3>Welcome to Home Page</h3>
    <img src="/image/nature.jpg" alt="">
    <!-- <img src="static/image/nature.jpg" alt=""> -->
    <!-- <img src="photo/nature.jpg" -->
    
</body>
</html>