    <!-- include header -->
    <%- include("./partials/header.ejs") %>

    <!-- Include Navigation  -->
    <%- include("./partials/navigation.ejs") %>

    <h1>About Page</h1>

    <!-- include footer -->
    <%- include("./partials/footer.ejs") %>
