
    <!-- include header -->
    <%- include("./partials/header.ejs") %>
   
    <!-- Include Navigation  -->
    <%- include("./partials/navigation.ejs") %>

    <h1>Home Page</h1>
    <h2>Welcome to Home Page</h2>
    <img src="/static/image/nature.jpg" alt="">

    <!-- include footer -->
    <%- include("./partials/footer.ejs") %>
