<%- include("./partials/header") %>
<%- include("./partials/navbar") %>

<h1 id="dashboard-heading"> Dashboard </h1>

<img src="/static/image/dashboard.jpg" class="img-width" alt="" style="width: 100vw">

<%- include("./partials/footer") %>
