<!-- Header -->
<%- include("./partials/header") %>

<div class="container-fluid">
  <div class="row">
    <%- include("./partials/sidebar", {page_name: "home"}) %>
    <!-- main content -->
    <section class="main-section col-sm-10">
      <div class="d-flex flex-column px-5 py-3">
        <div class="mb-3 py-4 mx-auto">
          <img src="./static/image/girl.jpg" alt="girl image" />
        </div>
        <div>
          <span>Hello,</span>
          <p>
            I am Sonam Kashyap full-stack web developer since last 5 years
            velit natus eveniet in quidem exercitationem nemo odit amet nobis
            libero temporibus, necessitatibus optio laboriosam, consectetur
            ipsa, laborum quod. Labore delectus magni modi beatae eum dicta
            totam repellat tempora debitis!
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
            molestias, sit quae delectus reiciendis a fugiat obcaecati
            repudiandae atque sapiente voluptatum officia? Omnis ea minus totam,
            natus nihil eligendi repudiandae molestias, amet non ut, aperiam cum
            mollitia vero voluptatem dolor deleniti provident? Nostrum veniam et
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe,
            distinctio unde dolore vel, nemo dolor, dignissimos id itaque
            impedit illum molestias voluptate consequatur laboriosam mollitia.
            Commodi voluptatibus provident hic consequuntur vero nobis sunt
            magnam id officiis ullam. Ducimus, autem iusto. Repellat dolores
            quaerat ea ipsam autem? Assumenda reiciendis vel aspernatur!
          </p>
        </div>
        <div class="text-center py-3">
           <button class="btn btn-outline-warning mx-2">Hire Me</button>
           <button class="btn btn-primary mx-2">Contact</button>
        </div>
      </div>
    </section>
  </div>
</div>

<!-- Footer -->
<%- include("./partials/footer") %>
