<!-- Header -->
<%- include("./partials/header") %>


<div class="container-fluid">
    <div class="row">
        <%- include("./partials/sidebar", {page_name: "skill"}) %>
        <section class="col-sm-10 border border-success">
           <h1>skill Page</h1>

       </section>
    </div>
</div>


<!-- Footer -->
<%- include("./partials/footer") %>
